LWI9Z1_1006/ember.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="ember">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="fizetes" type="xs:int"/>
      <xs:element name="nev" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>